torch==1.12.1+cu113
einops==0.8.0
ema-pytorch==0.2.1
matplotlib==3.5.2
pandas==1.4.4
scikit-learn==1.1.2
scipy==1.6.0
seaborn==0.11.2
umap-learn==0.5.7
pypots==1.0
tqdm==4.67.1
dm-control==1.0.12
dm-env==1.6
dm-tree==0.1.8
mujoco==2.3.4